/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    margin-top: 2.5em;
}

/* Viewer */
#viewer {
    width: 80%;
    margin: auto;
}

/* Title */
#title {
    background: black;
    height: 60px;
    font-size: 2em;
    color: white;
}

#title p {
    margin: auto;
}

/* Images */
.images:hover {
    border: 5px solid orange;
}


/* Buttons */
#reset {
    color: yellow;
}

#prev {
    color: lightblue;
}

#settings {
    color: orange;
}

#next {
    color: lightgreen;
}

button {
    font-size: 2em;
    background: black;
    color: white;
    border-color: lightgreen;
    margin-left: 0px;
    margin-right: 0px;
    height: 2em;
    float: left;
}

button:hover {
    background: blue;
}

#reset:hover {
    background: green;
}

#prev:hover {
    background: magenta;
}

#next:hover {
    background: deeppink;
}

#settings:hover {
    background: purple;
}

.row button {
    width: 25%;
}