/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    margin-top: 2.5em;
}

/* Viewer */
#viewer {
    width: 80%;
    margin: auto;
    border: 5px solid black;
}

/* Title */
#title {
    background: black;
    height: 60px;
    font-size: 2em;
    color: white;
}

#title p {
    margin: auto;
}

/* Images */

.image {
    margin: 0;
    border: 5px solid black;
    background-color: deepskyblue;
}
.image:hover {
    border: 5px solid orange;
}

/* Captions */
#img-caption {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#img-caption:hover {
    background-color: lightblue;
}

/* Position Information */
#pos-info:hover {
    background-color: lightgreen;
}

/* Buttons */
#reset {
    color: yellow;
}

#prev {
    color: lightblue;
}

#settings {
    color: orange;
}

#next {
    color: lightgreen;
}

button {
    font-size: 2em;
    background: black;
    color: white;
    border-color: lightgreen;
    margin-left: 0px;
    margin-right: 0px;
    height: 2em;
    float: left;
}

button:hover {
    background: blue;
}

#reset:hover {
    background: green;
}

#prev:hover {
    background: magenta;
}

#next:hover {
    background: deeppink;
}

#settings:hover {
    background: purple;
}

.row button {
    width: 25%;
}